{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    <title>Hello, pybo!</title>
</head>
<body>
    <!-- 네비게이션바 -->
    {% include "navbar.html" %}
    <!-- 상세 페이지 템플릿 -->
    {% block content%}
    {% endblock %}

    <!-- 자바스크립트 Start -->
    <script src="{% static 'bootstrap.min.js' %}"></script>
    {% block script %}
    {% endblock %}
    <!-- 자바스크립트 End -->
</body>
</html>